
@{
    ViewBag.Title = "Nhanviengh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<title>Danh sách nhân viên giao hàng</title>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Nhân viên giao hàng</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Nhân viên</li>
                    </ul>
                </div>
            </div>
            <!--/Header-->
            <!--HHH-->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2> Danh sách nhân viên <small>Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</small> </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                    <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Họ tên</th>
                                        <th>Tài khoản</th>
                                        <th>Email</th>
                                        <th>Điện thoại</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Trạng thái</th>
                                        <th><i class="material-icons">pin_drop</i></th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1234</th>
                                        <td><a href="@Url.Action("ChitietNV","Admin")">Trần Văn A</a></td>
                                        <td>TranA</td>
                                        <td>trana@gmail.com</td>
                                        <td>0909090909</td>
                                        <td>12/12/2019</td>
                                        <td><span class="badge bg-green">Hoạt động</span></td>
                                        <td>Khu A</td>
                                        <td><a href=""><i class="material-icons">delete_forever</i></a> </td>

                                    </tr>
                                    <tr>
                                        <th scope="row">1234</th>
                                        <td><a href="@Url.Action("ChitietNV","Admin")">Trần Văn B</a></td>
                                        <td>TranB</td>
                                        <td>tranvanb@gmail.com</td>
                                        <td>0909090909</td>
                                        <td>12/12/2019</td>
                                        <td><span class="badge bg-green">Hoạt động</span></td>
                                        <td>Khu B</td>
                                        <td><a href=""><i class="material-icons">delete_forever</i></a> </td>

                                    </tr>
                                    <tr>
                                        <th scope="row">1233</th>
                                        <td><a href="@Url.Action("ChitietNV","Admin")">Trần Văn C</a></td>
                                        <td>Tgahs</td>
                                        <td>transa@gmail.com</td>
                                        <td>0909090909</td>
                                        <td>12/12/2019</td>
                                        <td><span class="badge bg-orange">Đang giao hàng</span></td>
                                        <td>Khu B</td>
                                        <td><a href=""><i class="material-icons">delete_forever</i></a> </td>

                                    </tr>
                                    <tr>
                                        <th scope="row">1232</th>
                                        <td><a href="@Url.Action("ChitietNV","Admin")">Trần Văn Dần</a></td>
                                        <td>Trandancute123</td>
                                        <td>covanthammuu@gmail.com</td>
                                        <td>0909090909</td>
                                        <td>12/12/2019</td>
                                        <td><span class="badge bg-grey">Offline</span></td>
                                        <td>Khu B</td>
                                        <td><a href=""><i class="material-icons">delete_forever</i></a> </td>

                                    </tr>

                                </tbody>
                            </table>


                            <ul class="pagination" style="padding-left:700px">
                                <li class="page-item"><a class="page-link" href="#">Quay lại</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Tiếp theo</a></li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
            <!--HH-->
        </div>
    </div>
</section>

