@model HTFood.Models.LichSuNVGH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LichSuNVGH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TgGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TgGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiNhanDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiNhanDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangGiaoHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
