
@model IEnumerable<HTFood.Models.Cuahang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<title>Danh sách cửa hàng</title>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Danh sách cửa hàng</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách cửa hàng</li>
                    </ul>
                </div>
            </div>
            <!--/Header-->
            <!--HHH-->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2> Tất cả cửa hàng <small>Lọc cửa hàng...tìm kiếm</small> </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                    <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <div>
                                        <h7>
                                            @Html.ActionLink("Thêm mới cửa hàng", "Create")
                                        </h7>
                                    </div>
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Tên cửa hàng</th>
                                            <th>Địa chỉ</th>
                                            <th>Điện thoại</th>
                                            <th>Mô tả</th>
                                            <th>Đánh giá</th>
                                            @*<th>Mã đơn hàng</th>*@
                                            <th>Mã khuyến mãi</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No.</th>
                                            <th>Tên cửa hàng</th>
                                            <th>Địa chỉ</th>
                                            <th>Điện thoại</th>
                                            <th>Mô tả</th>
                                            <th>Đánh giá</th>
                                            @*<th>Mã đơn hàng</th>*@
                                            <th>Mã khuyến mãi</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model)
                                        {

                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                @Html.ActionLink(item.TenCH, "Details", new { id = item.MaCH })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiachiCH)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DienthoaiCH)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MotaCH)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DanhgiaCH)
                                            </td>
                                            @*<td>
            @Html.DisplayFor(modelItem => item.MaDonHang)
        </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaKM)
                                            </td>
                                            <td>
                                                a
                                            </td>
                                        </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--HH-->
    </div>
</section>
<script src="~/assets/js/buttons/vendorscripts.bundle.js"></script>
<script src="~/assets/js/buttons/datatablescripts.bundle.js"></script>
<script src="~/assets/js/buttons/jquery-datatable.js"></script>

<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        setTimeout(function () {
            var listButton = $('#DataTables_Table_0_length').find('button');
            listButton.each(function () {
                $(this).remove();
            });
        }, 500);
    });
</script>
