@model HTFood.Models.KhachHang
@using HTFood.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<title>Chi tiết khách hàng</title>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Khách hàng</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","KhachHang")">Khách hàng</a></li>
                        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.HoTenKH)</li>
                    </ul>
                </div>
            </div>
            <!--/Header-->
            <!--content-->
            <div class="row clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#home_animation">Thông tin khách hàng</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#home_animation_1">Lịch sử giao dịch</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages_animation_1">Danh sách yêu thích</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane animated flipInX active show" id="home_animation">
                                    <div class="body">
                                        <div class="row clearfix demo-icon-container">
                                            <div class="well well-sm">
                                                <h4>
                                                    Thông tin cá nhân
                                                </h4>
                                                <div class="col-sm-12">
                                                    <h5>
                                                        @Html.DisplayFor(model => model.HoTenKH)
                                                    </h5>
                                                    <small style="color: #999;display: block;font-size: 13px;">
                                                        <cite>
                                                            @Html.DisplayFor(model => model.DiaChiKH)
                                                            <i class="demo-google-material-icon"> <i class="material-icons" style="        font-size: initial">place</i> <span class="icon-name"></span></i>
                                                        </cite>
                                                    </small>
                                                </div>
                                                <div style="margin: 10px 0 0 0">
                                                    <div class="col-sm-12">
                                                        <div class="demo-google-material-icon"> <i class="material-icons">email</i><span class="icon-name"><b>Email: </b> @Html.DisplayFor(model => model.EmailKH)</span></div>
                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="demo-google-material-icon"> <i class="material-icons">account_box</i><span class="icon-name"><b>Tài khoản: </b> @Html.DisplayFor(model => model.TaiKhoanKH)</span></div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="demo-google-material-icon"> <i class="material-icons">no_encryption</i><span class="icon-name"><b>Mật khẩu: </b>@Html.DisplayFor(model => model.MatKhauKH)</span></div>
                                                    </div><div class="col-sm-12 ">
                                                        <div class="demo-google-material-icon"> <i class="material-icons">phone</i><span class="icon-name"><b>Điện thoại: </b> (+84) @Html.DisplayFor(model => model.DienThoaiKH)</span> </div>
                                                    </div><div class="col-sm-12 ">
                                                        <div class="demo-google-material-icon"> <i class="material-icons">card_giftcard</i><span class="icon-name"><b>Ngày sinh: </b> @Html.DisplayFor(model => model.NgaySinhKH)</span></div>
                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="demo-google-material-icon">
                                                            <i class="material-icons">account_balance_wallet</i><span class="icon-name">
                                                                <b>Ví tiền: </b>
                                                                @foreach (ViTien vt in ViewBag.vitien)
                                                                {
                                                                    <a href="/ViTien/Details/@vt.MaViTien">@vt.MaViTien</a><a href="javascript:void(0);"> <i class="zmdi zmdi-help-outline" title="Điểm được sử dụng để mua sản phẩm"></i> </a>
                                                                }
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="icon-button-demo">
                                                            <a class="btn btn-raised bg-light-blue waves-effect" href="@Url.Action("Edit","KhachHang",new { id = Model.MaKH })"> <i class="material-icons">border_color</i> Chỉnh sửa</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane animated flipInX" id="home_animation_1">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Mã GD</th>
                                                        <th>Mã ví tiền</th>
                                                        <th>Mô tả</th>
                                                        <th>Tình trạng</th>
                                                        <th>Số tiền đã nạp</th>
                                                        <th>Số tiền đã tiêu</th>
                                                        <th>Ngày nạp</th>
                                                        <th>Ngày tiêu</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Mã GD</th>
                                                        <th>Mã ví tiền</th>
                                                        <th>Mô tả</th>
                                                        <th>Tình trạng</th>
                                                        <th>Số tiền đã nạp</th>
                                                        <th>Số tiền đã tiêu</th>
                                                        <th>Ngày nạp</th>
                                                        <th>Ngày tiêu</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @{int i = 1;}
                                                    @foreach (LichSuGD lichSuGD in ViewBag.lsgd)
                                                    {
                                                        <tr>
                                                            <td>@i</td>
                                                            <td> @lichSuGD.MaGD</td>
                                                            <td> <a href="@Url.Action("Details","ViTien",new { id= @lichSuGD.MaViTien})">@lichSuGD.MaViTien</a></td>
                                                            <td><span class="badge bg-orange">@lichSuGD.MoTa</span></td>
                                                            <td><span class="badge bg-grey">@lichSuGD.TinhTrang</span></td>
                                                            <td><span class="badge bg-pink">@String.Format("{0:0,0}", lichSuGD.SoTienDaNap)</span></td>
                                                            <td><span class="badge bg-green">@String.Format("{0:0,0}", lichSuGD.SoTienDaTieu)</span></td>
                                                            <td>@(((DateTime)lichSuGD.NgayNapTien).ToString("dd-MMM-yyyy"))</td>
                                                            <td>@(((DateTime)lichSuGD.NgayTieuTien).ToString("dd-MMM-yyyy"))</td>

                                                            @*<td><a href=""><i class="material-icons">delete_forever</i></a> </td>*@
                                                        </tr>
                                                        i++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane animated flipInX" id="messages_animation_1">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Mã YT</th>
                                                        <th>Tên yêu thích</th>
                                                        <th>Mã khách hàng</th>
                                                        <th>Tên cửa hàng</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Mã YT</th>
                                                        <th>Tên yêu thích</th>
                                                        <th>Mã khách hàng</th>
                                                        <th>Tên cửa hàng</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @{i = 1;}
                                                    @foreach (DSYeuThich dSYeuThich in ViewBag.DSYT)
                                                    {
                                                        List<string> namech = ViewBag.tench;
                                                        <tr>
                                                            <td>@i</td>
                                                            <td> @dSYeuThich.MaYT</td>
                                                            @*<td> <a href="@Url.Action("Details","ViTien",new { id= @lichSuGD.MaViTien})">@lichSuGD.MaViTien</a></td>*@
                                                            <td><span class="badge bg-orange">@dSYeuThich.TenYT</span></td>
                                                            <td><span class="badge bg-orange">@dSYeuThich.MaKH</span></td>
                                                            <td><span class="badge bg-grey">@namech[i - 1]</span></td>
                                                        </tr>
                                                        i++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/content-->
</section>
<!-- Jquery DataTable Plugin Js -->
<script src="~/assets/js/buttons/libscripts.bundle.js"></script>
<script src="~/assets/js/buttons/vendorscripts.bundle.js"></script>
<script src="~/assets/js/buttons/datatablescripts.bundle.js"></script>
<script src="~/assets/js/buttons/jquery-datatable.js"></script>

<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        setTimeout(function () {
            var listButton = $('.dataTables_length').find('button');
            listButton.each(function () {
                $(this).remove();
            });
        }, 500);
    });
</script>
<style>
    .well.well-sm {
        padding: 9px;
        border-radius: 3px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        width: auto;
        margin-left:15px;
    }

    h4 {
        font-weight: normal;
        text-decoration: underline;
        padding: 0 6px;
    }

    h5 {
        margin: auto
    }

    a.btn.btn-raised.bg-light-blue.waves-effect {
        border-radius: 5px;
        padding: 10px 13px 8px 10px;
    }

    .icon-button-demo {
        margin-left: 180px;
    }
</style>