@model HTFood.Models.KhachHang
@using HTFood.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<title>Chi tiết khách hàng</title>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Khách hàng</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Khachhang","Admin")">Khách hàng</a></li>
                        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.HoTenKH)</li>
                    </ul>
                </div>
            </div>
            <!--/Header-->
            <!--content-->
            <div class="row clearfix">
                <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#home_animation">Thông tin khách hàng</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#home_animation_1">Lịch sử giao dịch</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages_animation_1">Ghi chú</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane animated flipInX active show" id="home_animation">
                                                <address class="col-15">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="row">
                                                                <strong class="col-4">Họ Tên</strong>
                                                                <p class="col-8">:  @Html.DisplayFor(model => model.HoTenKH)</p>
                                                                <strong class="col-4">Tài khoản</strong>
                                                                <p class="col-8">:  @Html.DisplayFor(model => model.TaiKhoanKH)</p>
                                                                <strong class="col-4">Mật khẩu</strong>
                                                                <p class="col-8">:  @Html.DisplayFor(model => model.MatKhauKH)</p>
                                                                <strong class="col-4">Email</strong>
                                                                <p class="col-8">:@Html.DisplayFor(model => model.EmailKH)</p>
                                                                <strong class="col-4">Địa chỉ</strong>
                                                                <p class="col-8">:  @Html.DisplayFor(model => model.DiaChiKH)</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-5">
                                                            <div class="row">
                                                                <strong class="col-4">Điện thoại</strong>
                                                                <p class="col-8">:  @Html.DisplayFor(model => model.DienThoaiKH)</p>
                                                                <strong class="col-4">Ngày sinh</strong>
                                                                <p class="col-8">:  @Html.DisplayFor(model => model.NgaySinhKH)</p>
                                                                @*<strong class="col-4">Giới tính:</strong>
                                                                    <p class="col-7">: Nam</p>*@
                                                                @*<strong class="col-4">Mô tả</strong>
                                                                    <p class="col-7">: 0201491241</p>*@
                                                                <strong class="col-4">Ví điểm</strong>
                                                                <p class="col-8">: 32,000 đ <a href="javascript:void(0);"> <i class="zmdi zmdi-help-outline" title="Điểm được sử dụng để mua sản phẩm"></i> </a> </p>

                                                                <p class="col-12">
                                                                    <a class="btn btn-raised g-bg-blush2 pull-right" href="@Url.Action("Edit","KhachHang",new { id = Model.MaKH })" )>Chỉnh sửa</a>
                                                                    <button class="btn btn-raised btn-success btn-sm" data-confirm="@Model.MaKH" id="btnDelete" value="Delete">Xóa</button>
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </address>
                                            </div>
                                            <div role="tabpanel" class="tab-pane animated flipInX" id="home_animation_1">

                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã GD</th>
                                                            <th>Mã ví tiền</th>
                                                            <th>Mô tả</th>
                                                            <th>Tình trạng</th>
                                                            <th>Số tiền đã nạp</th>
                                                            <th>Số tiền đã tiêu</th>
                                                            <th>Ngày nạp</th>
                                                            <th>Ngày tiêu</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (LichSuGD lichSuGD in ViewBag.lsgd)
                                                        {
                                                            <tr>
                                                                <th> <a href="#">@lichSuGD.MaGD</a></th>
                                                                <th> <a href="#">@lichSuGD.MaViTien</a></th>
                                                                <td><span class="badge bg-orange">@lichSuGD.MoTa</span></td>
                                                                <td><span class="badge bg-grey">@lichSuGD.TinhTrang</span></td>
                                                                <td><span class="badge bg-pink">@lichSuGD.SoTienDaNap</span></td>
                                                                <td>@lichSuGD.SoTienDaTieu</td>
                                                                <td>@lichSuGD.NgayNapTien</td>
                                                                <td>@lichSuGD.NgayTieuTien</td>
                                                                 @*<th> <a href="@Url.Action("Chitietdonhang","Admin")">@ViewBag.Mgd</a></th>
                                                                <th> <a href="@Url.Action("Chitietdonhang","Admin")">2</a></th>
                                                                <td><span class="badge bg-orange">Nạp tiền mấy chục ngàn</span></td>
                                                                <td><span class="badge bg-grey">Thành công</span></td>
                                                                <td><span class="badge bg-pink">320,000đ</span></td>
                                                                <td>0</td>
                                                                <td>12:30 12/12/2019</td>
                                                                <td>12:30 12/12/2019</td>
                                                                <td><a href=""><i class="material-icons">delete_forever</i></a> </td>*@
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>


                                                <ul class="pagination" style="padding-left:700px">
                                                    <li class="page-item"><a class="page-link" href="#"><<</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">>></a></li>
                                                </ul>



                                            </div>

                                            <div role="tabpanel" class="tab-pane animated flipInX" id="messages_animation_1">
                                                <b>Message Content</b>
                                                <p>
                                                    Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
                                                    Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent
                                                    aliquid pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere
                                                    gubergren sadipscing mel.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/content-->
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#btnDelete').click(function () {
                var choise = confirm("Xóa ?");
                if (choise) {
                    var idDelete = $(this).attr('data-confirm');
                    window.location.href = '/KhachHang/Delete/' + idDelete;
                }
            });
        });
    </script>
</section>