@model HTFood.Models.KhachHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<title>Sửa thông tin khách hàng</title>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Thêm mới khách hàng</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","KhachHang")">Khách hàng</a></li>
                        <li class="breadcrumb-item active">Trần Văn Dần</li>

                    </ul>

                </div>
            </div>
            <!--/Header-->
            <!--content-->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MaKH)
                            <div class="header">
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <h2 class="card-inside-title">Thay đổi thông tin khách hàng</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.EditorFor(model => model.HoTenKH, new { htmlAttributes = new { @class = "form-control", placeholder = "Họ và tên" } })
                                                @Html.ValidationMessageFor(model => model.HoTenKH, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="help-info">Họ và tên</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.EditorFor(model => model.TaiKhoanKH, new { htmlAttributes = new { @class = "form-control", placeholder = "Tài khoản" } })
                                                @Html.ValidationMessageFor(model => model.TaiKhoanKH, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="help-info">Tài khoản</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*@DateTime.Parse(Html.DisplayFor(model => model.NgaySinhKH,new { htmlAttributes = new { @class = "form-control", placeholder = "Ngày sinh" } }).ToString()).ToShortDateString()*@
                                                @Html.EditorFor(model => model.NgaySinhKH, new { htmlAttributes = new { @class = "form-control", @Value = Model.NgaySinhKH.ToString("dd/MM/yyyy"), placeholder = "Ngày sinh" } })
                                                @Html.ValidationMessageFor(model => model.NgaySinhKH, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="help-info">Ngày sinh (mm/dd/yyyy)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.EditorFor(model => model.MatKhauKH, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MatKhauKH, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="help-info">Mật khẩu</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.EditorFor(model => model.EmailKH, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmailKH, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="help-info">Email</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input class="btn btn-raised btn-primary waves-effect" type="submit" value="Save"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.EditorFor(model => model.DiaChiKH, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DiaChiKH, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="help-info">Địa chỉ</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.EditorFor(model => model.DienThoaiKH, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DienThoaiKH, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="help-info">Điện thoại</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--/content-->
        </div>
    </div>
</section>
