
@using PagedList.Mvc;
@model PagedList.PagedList<HTFood.Models.KhachHang>

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<title>Danh sách khách hàng</title>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Khách hàng</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Khách hàng</li>
                    </ul>
                </div>
            </div>
            <!--/Header-->
            <!--HHH-->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2> Danh sách khách hàng  </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                    <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <div >
                                <h7>
                                    @Html.ActionLink("Thêm mới khách hàng", "Create")
                                </h7>    
                            </div>
                            
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Tên khách hàng</th>
                                        <th>Tài khoản</th>
                                        <th>Địa chỉ</th>
                                        <th>Điện thoại</th>
                                        <th>Ngày sinh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                @Html.ActionLink(item.HoTenKH, "Details", new { id = item.MaKH })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TaiKhoanKH)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiaChiKH)
                                            </td>
                                            <td>
                                                (+84) @Html.DisplayFor(modelItem => item.DienThoaiKH)
                                            </td>
                                            <td>
                                                @*@DateTime.Parse(Html.DisplayFor(modelItem => item.NgaySinhKH).ToString()).ToShortDateString()*@
                                                @(((DateTime)item.NgaySinhKH).ToString("dd-MMM-yyyy"))
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                            @* Tao menu trang  *@
                            <div class="MenuTrang" style="text-align:center">
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                            </div>
                            <style>
                                .MenuTrang li {
                                    display: inline;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
            <!--HH-->
        </div>
    </div>
</section>
