@model HTFood.Models.DoAn
@using HTFood.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/assets/css/details.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<title>Chi tiết món ăn</title>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!--Header-->
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>Khách hàng</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","DoAn")">Đồ ăn</a></li>
                        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.TenDA)</li>
                    </ul>
                </div>
            </div>
            <!--/Header-->
            <!--content-->
            <div class="row clearfix">
                <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <div class="body">
                                <div class="wrapper row">
                                    <div class="preview col-md-6">

                                        <div class="preview-pic tab-content">
                                            <div class="tab-pane active" id="pic-1"><img src="@Url.Content("~/images/"+  Model.AnhDA)" width="120" /></div>
                                            <div class="tab-pane" id="pic-2"></div>
                                            <div class="tab-pane" id="pic-3"></div>
                                            <div class="tab-pane" id="pic-4"></div>
                                            <div class="tab-pane" id="pic-5"></div>
                                        </div>

                                    </div>
                                    <div class="details col-md-6">
                                        <h3 class="product-title"> @Html.DisplayFor(model => model.TenDA)</h3>
                                        <div class="rating">
                                            <div class="stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <span class="review-no">@Html.DisplayFor(model => model.DanhGiaDoAn) reviews </span>
                                        </div>
                                        <p class="product-description">@Html.DisplayFor(model => model.MoTa).</p>
                                        <h4>Giá hiện tại: <span style="color:#ff9f1a">@Html.DisplayFor(model => model.DonGia) đ</span></h4>
                                        <p class="vote"><strong>91%</strong> người mua rất thích sản phẩm này! <strong>(87 votes)</strong></p>
                                        <h4>Ngày cập nhật: <span style="color:#85ad00">@(((DateTime)Model.NgayCapNhat).ToString("dd-MMM-yyyy"))</span></h4>
                                        <h4>Trạng thái hàng: <span style="color:#0076ad">@Html.DisplayFor(model => model.TrangThaiDA)</span></h4>
                                        <h4>Số lượng còn lại: <span style="color:red">@Html.DisplayFor(model => model.SoLuongTon)</span></h4>
                                        <div class="">
                                            <div class="icon-button-demo">
                                                <a class="btn btn-raised bg-light-blue waves-effect" href="@Url.Action("Edit","DoAn",new { id = Model.MaDA })"> <i class="material-icons">border_color</i> Chỉnh sửa</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/content-->
        </div>
    </div>
</section>
<style>
    .well.well-sm {
        padding: 9px;
        border-radius: 3px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        width: auto;
    }

    a.btn.btn-raised.bg-light-blue.waves-effect {
        border-radius: 5px;
        padding: 10px 13px 8px 10px;
    }
</style>